<a href="https://colab.research.google.com/github/sainik-khaddar/MACHINE-LEARNING-CODES/blob/main/Label_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
cancer_data=pd.read_csv('/content/data.csv')

In [3]:
cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [4]:
# here we will encode the diagnosis column

In [5]:
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [6]:
label_encode=LabelEncoder()

In [7]:
labels=label_encode.fit_transform(cancer_data.diagnosis)

In [20]:
cancer_data['target']=labels

In [21]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

In [9]:
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [10]:
cancer_data.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [11]:
cancer_data.shape

(569, 33)

In [13]:
df=pd.read_csv('/content/iris_data.csv')

In [14]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [16]:
label_encode2=LabelEncoder()

In [17]:
iris_label_encoder=label_encode2.fit_transform(df.Species)

In [22]:
df['Encoded']=iris_label_encoder

In [23]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species Encoded
0   1            5.1           3.5  ...           0.2  Iris-setosa       0
1   2            4.9           3.0  ...           0.2  Iris-setosa       0
2   3            4.7           3.2  ...           0.2  Iris-setosa       0
3   4            4.6           3.1  ...           0.2  Iris-setosa       0
4   5            5.0           3.6  ...           0.2  Iris-setosa       0

[5 rows x 7 columns]

In [24]:
df['Encoded'].value_counts()

2    50
1    50
0    50
Name: Encoded, dtype: int64

In [25]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64