<a href="https://colab.research.google.com/github/sainik-khaddar/MACHINE-LEARNING-CODES/blob/main/Outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv('House_Price.csv')

In [4]:
df.head()

   price  crime_rate  resid_area  ...  rainfall  bus_ter     parks
0   24.0     0.00632       32.31  ...        23      YES  0.049347
1   21.6     0.02731       37.07  ...        42      YES  0.046146
2   34.7     0.02729       37.07  ...        38      YES  0.045764
3   33.4     0.03237       32.18  ...        45      YES  0.047151
4   36.2     0.06905       32.18  ...        55      YES  0.039474

[5 rows x 19 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   crime_rate   506 non-null    float64
 2   resid_area   506 non-null    float64
 3   air_qual     506 non-null    float64
 4   room_num     506 non-null    float64
 5   age          506 non-null    float64
 6   dist1        506 non-null    float64
 7   dist2        506 non-null    float64
 8   dist3        506 non-null    float64
 9   dist4        506 non-null    float64
 10  teachers     506 non-null    float64
 11  poor_prop    506 non-null    float64
 12  airport      506 non-null    object
 13  n_hos_beds   498 non-null    float64
 14  n_hot_rooms  506 non-null    float64
 15  waterbody    506 non-null    object
 16  rainfall     506 non-null    int64
 17  bus_ter      506 non-null    object
 18  parks        506 non-null    float64
dtypes: float64(15), int64(1), object(3)
memory usage: 75.2+ KB

In [8]:
np.percentile(df.n_hot_rooms,[99])

array([15.39952])

In [10]:
uv=np.percentile(df.n_hot_rooms,[99])[0]

In [13]:
df[(df.n_hot_rooms>uv)]

     price  crime_rate  resid_area  ...  rainfall  bus_ter     parks
2     34.7     0.02729       37.07  ...        38      YES  0.045764
166   50.0     2.01019       49.58  ...        37      YES  0.052105
204   50.0     0.02009       32.68  ...        51      YES  0.044178
267   50.0     0.57834       33.97  ...        42      YES  0.063235
369   50.0     5.66998       48.10  ...        58      YES  0.067477
423   13.4     7.05042       48.10  ...        29      YES  0.063344

[6 rows x 19 columns]

In [14]:
df.n_hot_rooms[(df.n_hot_rooms>3*uv)]=3*uv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
np.percentile(df.rainfall,[0])

array([3.])